:host ::ng-deep {

    .form-control {
        width: 15%;
        margin: 1%;

    }

    .myBtn {
        width: 15%;
        margin: 1rem;
    }
    
    .addBtn{
        padding-right: 3rem;
    }

}

label {
    width: 10%;
    margin: 1%;
    display: inline-block;
}